
<h1>Welcome to MilkShake Factory</h1>
<nav class="top_menu">
    <ul>
      <li>
        <a href="/">Create Order</a>
      </li>
      <li>
        <a href="/viewOrders">View Orders</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </nav>