<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>
    <section>
        <div class="formData">
            <%= message %>
        </div>
            <a class="linkback" href="/viewOrders">Return to View Orders</a>
    </section>
</body>
<%- include('layouts/footer'); -%>